/* You can add global styles to this file, and also import other style files */
.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 2px;
  }
  
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
  }
  